.courseCard {
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 4px 12px $color-gray400;
  height: 438px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
    height: 55%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex-grow: 1;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    row-gap: 20px;
    border-bottom: 1px solid $color-gray300;
    border-right: 1px solid $color-gray300;
    border-left: 1px solid $color-gray300;
  }

  &__info {
    color: $color-gray700;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }

  &__price {
    color: $color-primary;
  }

  .card-content {
    margin: 0;
    opacity: 0.8;
  }
}
