.courses {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 60px;
  padding-bottom: 192px;

  &__loadMore {
    position: absolute;
    left: 50%;
    bottom: 86px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
  }
}


/* таблет */
@media (max-width: 900px) {
  .courses {
    grid-template-columns: 1fr 1fr;
  }
}

/* телефон */
@media (max-width: 600px) {
  .courses {
    grid-template-columns: 1fr;
  }
}