.search {
  position: relative;
  width: 315px;
  height: 44px;

  &__input {
    position: absolute;
    inset: 0;
    color: $color-gray600;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    padding: 12px 48px 12px 12px;
    border: 1px solid $color-gray400;
    border-radius: 4px;
  }

  &__icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
}