.tab {
  color: $color-gray600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border-color .3s ease, color .3s ease;

  &__content {
    display: flex;
    align-items: start;
    column-gap: 4px;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    white-space: nowrap;
  }

  &__count {
    font-weight: 900;
    font-size: 10px;
    line-height: 150%
  }

  &_active {
    border-color: $color-primary;

    .tab__text,
    .tab__count {
      color: $color-primary
    }
  }
}
