@import "variables";
@import "components/button";
@import "components/courseCard";
@import "components/tabItem";
@import "components/header";
@import "components/search";
@import "components/courses";
@import "components/tag";

/* reset.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

fieldset, legend {
  border: 0;
}

button, input, select, textarea {
  background: none;
  border: none;
  outline: none;
}

:focus {
  outline: none;
}

// global

.hidden {
  display: none;
}

body {
  position: relative;
  background: $color-white;
  color: $color-gray900;
}

main {
  padding-top: 85px;
}

.container {
  max-width: 1310px;
  padding: 0 40px;
  margin: 0 auto;
}

.tabBar {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.panel {
  display: flex;
  row-gap: 30px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#svgDots {
  position: absolute;
  top: 45px;
  right: 0;
}

#svgShapes {
  position: absolute;
  top: 50%;
  left: 56px;
}

#svgShapes1 {
  position: absolute;
  bottom: 268px;
  right: 72px;
}

