$color-gray900: #1E212C;
$color-gray600: #9A9CA5;
$color-gray700: #9A9CA5;
$color-gray300: #E5E8ED;
$color-gray400: #D7DADD;
$color-primary: #FF3F3A;
$color-white: #FFFFFF;
$color-success: #03CEA4;
$color-info: #5A87FC;
$color-warning: #F89828;
$color-red: #F52F6E;
